*{ /*Set everything in box*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("image/dropdown_bg.jpg");
    background-size: 20%; /* making 10% size of pictures to fill up background*/
}
/* ---------------------------------------  TopBar  ----------------------------------------------------- */
#goTopButton{ /* go top button */
    background-color: orange;
    border-radius: 20px;  /* make a small radius*/

    width: 50px;
    height: 50px;
    position: fixed; /* Position is fixed no matter the screen moving*/
    bottom: 30px;  /* away from bottom 30 pixels*/
    right: 30px;   /* away from right 30 pixels */

    text-align: center; /* put text in center*/
    padding-top: 15px;
}
.notificationBar{ /* put text in center,text (padding) to boundary 10 pixels,No margin */
    /*Layout*/
    text-align: center;
    padding: 10px;

    /*Styling*/
    font-style: italic;
    color: white;
    background: black;
}
/* ---------------------------------------  Navigation Bar  ----------------------------------------------------- */
.navbar{ /* flexbox layout, put all in center, margin to boundary 10px */
         /* Item: logo Image, navigation bar,search button,cart button */
    display: flex;
    align-items: center;
    margin: 10px; /*outside border margin 10px*/
    position: relative; /* set up for sub-menu bar with using absolute position, this is parents*/
}

.navbar-textMenu{  /* Menu bar will take all the free space in .navbar */
    flex: 1 0 0; /*Flex grow, No shrink and basis*/
    margin: 5px; /*space between other item is 5px*/
}

.navbar-textMenu-list-item{ /* No style for list, all items with space 10px, setting in left */
    /*Layout*/
    float: left;
    margin: 10px;

    /*Styling*/
    list-style-type:none;
}
.navbar-textMenu-list-item:hover{ /* Hover add clay, set at bottom, width is based on size of the text, no-repeat*/
    background-image: url("image/line-clay-bg.svg");
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
}


.navbar-textMenu-list-item:last-child{ /* last item button goes the end */
    float: right;
}

#navbar-searchButton,#navbar-cartButton{ /*Two buttons with space 5px*/
    margin: 5px;
}

.navbar-textMenu-list-item-subMenuBag{ /*subMenu - 1*/
    display: none;/* Does not display when it is not hover*/
    position: absolute; /*position based on list item*/

    top: 100%; /* 100% away from top*/
    left: 5px; /* 5 pixels away from left*/

    width: 100%; /* 100% size from the parent navbar*/
}
.navbar-textMenu-list-item:hover .navbar-textMenu-list-item-subMenuBag{ /* When hover active, submenu display*/
    display: flex; /*Flex layout*/
    align-items: center; /*Cross axis center (Y) */
    justify-content: center;/*Main axis center (X)*/
    padding: 10px; /*padding space with 10px*/

    background-image: url("image/sub_menuBackimg.jpeg");
    background-size: cover;

    /*margin-top: 30px; !*sub menu 30 px away from the list*!*/
}

.navbar-textMenu-list-item-subMenuBag-subTitle1,.navbar-textMenu-list-item-subMenuBag-subTitle2{
    margin: 20px; /* giving the space between the lists*/
}

.navbar-textMenu-list-item-subMenuBag-subTitle1-list, .navbar-textMenu-list-item-subMenuBag-subTitle2-list{
    display: inline-block; /* Make it vertical direction*/
}

.navbar-textMenu-list-item-subMenuBag-subTitle1-list-item,.navbar-textMenu-list-item-subMenuBag-subTitle2-list-item{
    float: left; /* float all items in left, then use clear to create new line for each item*/
    clear: both;
    margin: 10px; /* row with space 10 pixels */
    list-style-type:none;
}




/* --------------------------------------  IntroItem (Middium items) ---------------------------------------------- */
.introItems{ /*Include introimage and introText1 */
    margin: 10px;  /*outside border margin 10px*/
}

#introItems-Image{
    margin: 5px; /*Item margin 5px*/
    width: 100%;
    height: auto;
}

#introItems-Text1{
    margin: 5px; /*Item margin 5px*/
    text-align: center;
    font-weight: bold;
}
/* ---------------------------------------  Footer  ----------------------------------------------------- */
footer { /* put text in center,text (padding) to boundary 10 pixels,No margin */
    /*Layout*/
    text-align: center;
    padding: 10px;

    /*Styling*/
    font-style: italic;
    background: black;
}
.footer_bar{
    color: white;
}
.footer_bar:active{
    text-decoration: underline;
}
/* -----------------------------------------Global Styling---------------------------------------------------- */
a{ /* Remove the bottom scratch line from all a>href */
    /* all the achors colors*/
    text-decoration: none;
    color: #555;
}
p{ /* all the achors colors*/
    color: #555;
}
html{ /* slowly scrolling*/
    scroll-behavior: smooth;
}